# Day 11

## Set

In [ ]:
s = set()
s2 = {1, 2, 3 ,4}
s

In [2]:
l = [1, 2, 1, 3]
l = set(l)
l.remove(1)
l = list(l)
l

[2, 3]

## UNORDERED

In [ ]:
# pop()
# add()
# remove()

## Union, Intersection

In [5]:
a = {1, 2, 3}
b = {3, 4, 5}
a.union(b) # |
a.intersection(b) # &
a - b

{1, 2}

In [11]:
words = {'apple', 'banana', 'cat', 'dog'}
print(words)

{'apple', 'dog', 'banana', 'cat'}

In [ ]:
s = {1, 2, 3}
s.remove(3)
s.add(4)

In [ ]:
s = {1, 2, 3} # O(1)
l = [1 , 2, 3] # O()

In [13]:
s = {1, 2, 3}
for element in s:
    print(element)

for i, element in enumerate(s):
    print(i, element)

1
2
3
0 1
1 2
2 3

## Dictionary

In [17]:
d1 = {}
d2 = dict()
animals_legs = {'horse': 4, 'human':2, 'fish': print("Hello World")}
animals_legs['fish']

Hello World

In [21]:
d = {(1, 2): 'No'}
d = {True: 'No'}

In [23]:
# change the value
animals_legs = {'horse': 4, 'human':2, 'fish': print("Hello World")}
animals_legs['fish'] = 2
animals_legs['fish']

Hello World

2

In [37]:
'turtle' not in animals_legs
animals_legs.get('horse')
animals_legs.update({"horse": 6})
animals_legs.get('horse')
del animals_legs['horse']
animals_legs.get('horse')
# can use pop()

## Loop

In [40]:
for i, element in animals_legs.items():
    print(i)

human
fish

In [ ]:
for  k in animals_legs.keys():
    print(k)

In [41]:
for v in animals_legs.values():
    print(v)

2
2